/* common start */
.blog-banner .blog-banner-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* blog profile */
.blog-profile-info .info-profile-img {
    width: 110px;
    height: 110px;
    border: 1px solid #006f85;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

.blog-profile-info .info-text .info-title {
    font-size: 36px;
    font-weight: 400;
    color: #1d1d23;
    margin-bottom: 0;
}

.blog-profile-info .fa-check-circle {
    font-size: 24px;
    font-weight: 700;
    color: #606060;
    margin-top: 8px;
}

.blog-profile-info .info-text .info-description {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 0;
}

/* business-advertising */
.business-advertising {
    background: url(../images/Sponsor-Logo/Map.png) no-repeat center center/cover;
    text-align: center;
    padding: 60px 0;
}

.business-advertising--title {
    font-size: 55px;
    font-weight: 600;
    color: #006f85;
    padding-bottom: 60px;
}

.business-advertising a {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-top: 60px;
    text-decoration: none;
}

/* blog-navigation */
.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
.blog-navigation .nav .nav-item .nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #606060;
}

.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item.active,
.blog-navigation .nav .nav-item .nav-link.active {
    border-bottom: 3px solid #006f85;
    color: #000;
}


/* common responsive */
@media (min-width: 768px) {
    .business-advertising {
        padding-top: 120px;
    }

    .business-advertising a {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .blog-banner .blog-banner-title {
        transform: translateY(-50%);
    }

}

@media (max-width: 767px) {
    .blog-banner .blog-banner-title {
        font-size: 48px;
        left: 50%;
        top: auto;
        bottom: 10%;
        transform: translateX(-50%);
    }

    /* blog profile */
    .blog-profile-info .info-profile-img {
        width: 80px;
        height: 80px;
    }

    .blog-profile-info .info-text .info-title {
        font-size: 24px;
    }

    .blog-profile-info .info-text .info-description {
        font-size: 18px;
    }

    .blog-profile-info .fa-check-circle {
        font-size: 20px;
        margin-top: 5px;
    }

    /* business-advertising */
    .business-advertising--title {
        white-space: pre-line;
        font-size: 36px;
        line-height: 36px;
    }

    /* blog-navigation */
    .blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
    .blog-navigation .nav .nav-item .nav-link {
        font-size: 16px;
        padding: 0.5rem;
    }
}

/* common end */

/* ########### blog-home post-your-blog  start ########### */
.blog-home.post-your-blog .title {
    font-size: 22px;
    font-weight: 500;
    color: #006f85;
}

.blog-home.post-your-blog .info {
    font-size: 16px;
    font-weight: 300;
    color: #006f85;
    margin: 10px 0;
}

.blog-home.post-your-blog .description {
    font-size: 18px;
    font-weight: 400;
    color: #231d19;
    line-height: 30px;
    white-space: pre-line;
    margin-bottom: 30px;
}

.blog-home.post-your-blog .btn-red {
    background-color: #cc0000;
    border-color: #ffffff;
    color: #fff;
}

.blog-home .blog-article-heading .blog-article-heading--title {
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.blog-home .blog-article-heading .blog-article-heading--link {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
}

.blog-home .blog-article-more-btn {
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: block;
    padding: 0;
    line-height: 50px;
    position: absolute;
    right: calc(-25px + 1rem);
    top: 4vw;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* ########### blog-video start ########### */
.blog-video .video-card .video-title {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

.blog-video .video-card .video-info {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    margin-bottom: 0;
    line-height: 1.2;
}

@media (min-width: 767px) {
    .blog-video .video-card .video-title {
        font-size: 18px;
    }

    .blog-video .video-card .video-info {
        font-size: 16px;
    }
}

/* ###########//end of blog-video ########### */
@media (max-width: 1199px) {
    .blog-home .blog-article-more-btn {
        top: 4vw;
    }
}

@media (max-width: 767px) {
    .blog-home.post-your-blog .title {
        font-size: 18px;
    }

    .blog-home.post-your-blog .info {
        font-size: 14px;
    }

    .blog-home.post-your-blog .description {
        font-size: 16px;
        white-space: normal;
    }

    .blog-home .blog-article-more-btn {
        top: unset;
        bottom: 0;
        right: unset;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(90deg);
        transform: translateX(-50%) rotate(90deg);
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #f1f1f1;
        border-color: #f1f1f1;
    }

}

/* ###########//end of blog-home post-your-blog  ########### */