/* common start */
.blog-banner .blog-banner-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* blog profile */
.blog-profile-info .info-profile-img {
    width: 110px;
    height: 110px;
    border: 1px solid #006f85;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

.blog-profile-info .info-text .info-title {
    font-size: 36px;
    font-weight: 400;
    color: #1d1d23;
    margin-bottom: 0;
}

.blog-profile-info .fa-check-circle {
    font-size: 24px;
    font-weight: 700;
    color: #606060;
    margin-top: 8px;
}

.blog-profile-info .info-text .info-description {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 0;
}

/* business-advertising */
.business-advertising {
    background: url(../images/Sponsor-Logo/Map.png) no-repeat center center/cover;
    text-align: center;
    padding: 60px 0;
}

.business-advertising--title {
    font-size: 55px;
    font-weight: 600;
    color: #006f85;
    padding-bottom: 60px;
}

.business-advertising a {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-top: 60px;
    text-decoration: none;
}

/* blog-navigation */
.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
.blog-navigation .nav .nav-item .nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #606060;
}

.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item.active,
.blog-navigation .nav .nav-item .nav-link.active {
    border-bottom: 3px solid #006f85;
    color: #000;
}


/* common responsive */
@media (min-width: 768px) {
    .business-advertising {
        padding-top: 120px;
    }

    .business-advertising a {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .blog-banner .blog-banner-title {
        transform: translateY(-50%);
    }

}

@media (max-width: 767px) {
    .blog-banner .blog-banner-title {
        font-size: 48px;
        left: 50%;
        top: auto;
        bottom: 10%;
        transform: translateX(-50%);
    }

    /* blog profile */
    .blog-profile-info .info-profile-img {
        width: 80px;
        height: 80px;
    }

    .blog-profile-info .info-text .info-title {
        font-size: 24px;
    }

    .blog-profile-info .info-text .info-description {
        font-size: 18px;
    }

    .blog-profile-info .fa-check-circle {
        font-size: 20px;
        margin-top: 5px;
    }

    /* business-advertising */
    .business-advertising--title {
        white-space: pre-line;
        font-size: 36px;
        line-height: 36px;
    }

    /* blog-navigation */
    .blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
    .blog-navigation .nav .nav-item .nav-link {
        font-size: 16px;
        padding: 0.5rem;
    }
}

/* common start */

/* ########### blog-about start ########### */
.blog-about .blog-article-heading--title {
    font-size: 24px;
    color: #231d19;
    font-weight: 500;
}

.blog-about--description {
    font-size: 18px;
    color: #231d19;
}

.blog-about--list-group li {
    font-size: 18px;
    color: #231d19;
    padding: 7px;
    border-bottom: 1px solid #e9e9e9;
    list-style: none;
}

@media (max-width: 767px) {
    .blog-about .blog-article-heading--title {
        font-size: 18px;
    }

    .blog-about--description {
        font-size: 14px;
    }

    .blog-about--list-group li {
        font-size: 16px;
    }
}

/* ###########//end of blog-about ########### */