/* common start */
.blog-banner .blog-banner-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* blog profile */
.blog-profile-info .info-profile-img {
    width: 110px;
    height: 110px;
    border: 1px solid #006f85;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

.blog-profile-info .info-text .info-title {
    font-size: 36px;
    font-weight: 400;
    color: #1d1d23;
    margin-bottom: 0;
}

.blog-profile-info .fa-check-circle {
    font-size: 24px;
    font-weight: 700;
    color: #606060;
    margin-top: 8px;
}

.blog-profile-info .info-text .info-description {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 0;
}

/* business-advertising */
.business-advertising {
    background: url(../images/Sponsor-Logo/Map.png) no-repeat center center/cover;
    text-align: center;
    padding: 60px 0;
}

.business-advertising--title {
    font-size: 55px;
    font-weight: 600;
    color: #006f85;
    padding-bottom: 60px;
}

.business-advertising a {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-top: 60px;
    text-decoration: none;
}

/* blog-navigation */
.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
.blog-navigation .nav .nav-item .nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #606060;
}

.blog-navigation .nav .nav-item .dropdown-menu .dropdown-item.active,
.blog-navigation .nav .nav-item .nav-link.active {
    border-bottom: 3px solid #006f85;
    color: #000;
}


/* common responsive */
@media (min-width: 768px) {
    .business-advertising {
        padding-top: 120px;
    }

    .business-advertising a {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .blog-banner .blog-banner-title {
        transform: translateY(-50%);
    }

}

@media (max-width: 767px) {
    .blog-banner .blog-banner-title {
        font-size: 48px;
        left: 50%;
        top: auto;
        bottom: 10%;
        transform: translateX(-50%);
    }

    /* blog profile */
    .blog-profile-info .info-profile-img {
        width: 80px;
        height: 80px;
    }

    .blog-profile-info .info-text .info-title {
        font-size: 24px;
    }

    .blog-profile-info .info-text .info-description {
        font-size: 18px;
    }

    .blog-profile-info .fa-check-circle {
        font-size: 20px;
        margin-top: 5px;
    }

    /* business-advertising */
    .business-advertising--title {
        white-space: pre-line;
        font-size: 36px;
        line-height: 36px;
    }

    /* blog-navigation */
    .blog-navigation .nav .nav-item .dropdown-menu .dropdown-item,
    .blog-navigation .nav .nav-item .nav-link {
        font-size: 16px;
        padding: 0.5rem;
    }
}

/* common end */

/* ########### blog-community start ########### */
.blog-community-card {
    border: 1px solid #c5c5c3;
    background-color: #f1f1f1;
    padding: 15px 90px 5px 15px;
}

.blog-community-card--profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1px solid #474444;
}

.blog-community-card--community-name {
    font-size: 18px;
    font-weight: 400;
    color: #292727;
    margin-bottom: 0;
}

.blog-community-card--post-date {
    color: #989797;
    padding-left: 10px;
}

.blog-community-card--title {
    font-size: 22px;
    font-weight: 600;
    color: #292727;
    margin-bottom: 0;
}

.blog-community-card--description {
    font-size: 20px;
    font-weight: 400;
    color: #292727;
    padding: 10px 0;
    margin-bottom: 0;
}

.blog-community-card--read-more-btn {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.blog-community-card--post-img {
    border: 1px solid #606060;
    border-radius: 3px;
    background: #c5c5c3;
    width: 100%;
}

.blog-community-card--action-btn {
    color: #474444;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
    text-decoration: none;
}

@media (max-width: 767px) {
    .blog-community-card {
        padding-right: 30px;
    }

    .blog-community-card--community-name {
        font-size: 14px;
    }

    .blog-community-card--title {
        font-size: 18px;
    }

    .blog-community-card--description {
        font-size: 14px;
    }

    .blog-community-card--profile-image {
        width: 29px;
        height: 29px;
    }
}

/* ###########//end of blog-community ########### */