.footer {
   background: url(../images/BG.png) no-repeat bottom center/cover;
   padding-top: 40px;
}

.footer a {
   text-decoration: none;
}

.footer ul {
   list-style: none;
}

.footer .footer-description {
   font-weight: 400;
   color: #000;
   margin: 20px 0;
}

.footer .link-heading {
   font-weight: 600;
   color: #000;
   border-bottom: 1px solid #000;
   display: inline-block;
   margin-bottom: 15px;
}

.footer ul {
   margin-bottom: 30px;
}

.footer ul .footer-link {
   font-weight: 400;
   color: #000;
   margin: 3px 0;
   display: inline-block;
}

.footer ul .footer-link:hover {
   color: #006f85;
}

.footer ul.pink.social-link .footer-link {
   color: #9b2586;
   margin: 3px 0;
}

.footer ul.pink.social-link .footer-link i {
   padding-right: 10px;
}

.footer ul.cyan.contact-list .footer-link {
   color: #006f85;
}

.footer ul.cyan.contact-list .footer-link i {
   display: block;
   padding-right: 15px;
   padding-top: 5px;
}

.footer .btn.btn-outline-cyan {
   font-weight: 500;
   color: #006f85;
   border: 1px solid #006f85;
   border-radius: 50px;
}

.footer .btn.btn-outline-cyan:hover {
   background-color: #006f85;
   color: #fff;
}

.footer .copyright {
   background: rgba(0, 111, 133, 0.05);
   padding: 20px 0;
}

.footer .copyright .copyright-text {
   font-size: 20px;
   font-weight: 400;
   color: #000;
}

/* Responsive */
@media (min-width: 768px) {
   .footer .link-heading {
      margin-bottom: 30px;
   }

   .footer ul.cyan.contact-list .footer-link,
   .footer ul.pink.social-link .footer-link,
   .footer ul .footer-link {
      margin: 5px 0;
   }

}

@media (min-width: 1200px) {
   .footer .footer-description {
      font-size: 20px;
      line-height: 30px;
      margin: 30px 0;
   }

   .footer ul .footer-link {
      font-size: 20px;
      margin: 8px 0;
   }

   .footer ul.cyan.contact-list .footer-link,
   .footer ul.pink.social-link .footer-link {
      margin: 8px 0;
   }

   .footer ul.cyan.contact-list .footer-link i,
   .footer ul.pink.social-link .footer-link i {
      font-size: 22px;
   }
}